canvas.signaturePad {
    border: 1px solid;
    width:100%;
    height: 100%;
}

a.sig-toggle {
    width: 100px;
    height: 70px;
    border: 1px solid #666;
    display: block;
}

a.sig-toggle img {
    width: 100%;
    height: 100%;
}

a.sig-toggle span {
    color: #666;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 70px;
}
